<div class="video-row">

    <div class="one-video">

      <div class="video">
        <video src="<%= rails_blob_path(@video.video) %>" type="video/mp4" controls width="800" height="450" ></video>
      </div>

      <div class="show-title">
        <%= @video.title %>
      </div>

      <div class="kifu-text">
        <textarea id="fe_text" name="" rows="10" cols="40"><%= @video.kifu %></textarea>
      </div>

    </div>

    <div class="user_btn" >
      <div class="edit">
        <%= link_to "編集", edit_video_path(@video.id), method: :get, class: "edit-btn" %>
      </div>
      <div class="destroy">
        <%= link_to "削除", video_path(@video.id), method: :delete,  class: "destroy-btn" %>
      </div>
    </div >

</div>